body {
    font-family: 'Open Sans', sans-serif;
}

.hero {
    background-color: #dae0db;
    flex: auto;
}

.hero h1 {
    text-align: left;
    padding: 30px;
}

.container {
    width: 980px;
    margin: 0 auto;
    display: flex;
}

.home-button {
    padding: 5px;
}